/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.post-type-popper .block-editor-block-list__layout.is-root-container > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
	max-width: 100vw !important;
}

.post-type-popper.editor-styles-wrapper .block-editor-block-list__layout.is-root-container > :where(:not(.alignleft):not(.alignright)) {
	max-width: 100% !important;

	&.popper-placeholder {
		max-width: 650px !important;
		height: auto;
	}
}

.wp-block-popper-is-open {
	max-width: 100% !important;
	z-index: 9;
	min-height: 800px;
	overflow-y: auto;
	box-sizing: border-box;
}

.post-type-popper .editor-styles-wrapper .wp-block:not(.wp-block-post-title) {
	max-width: 100%;
}

.wp-block-popper__container {
	width: fit-content;
	min-height: 50px;
}

.wp-block-popper__close {
	position: absolute !important;
}

.wp-block-formello-popper,
.wp-block-popper__container.wide {
	width: 100%;
	z-index: 5;
}

.wp-block-popper__container.wide {
	box-shadow: none !important;
	border-radius: 0 !important;
}

.wp-block-formello-popper--nobg {
	background-image: linear-gradient(45deg, #f1f1f1 25%, transparent 0), linear-gradient(-45deg, #f1f1f1 25%, transparent 0), linear-gradient(45deg, transparent 75%, #f1f1f1 0), linear-gradient(-45deg, transparent 75%, #f1f1f1 0);
	background-size: 30px 30px;
	background-position: 0 0, 0 15px, 15px -15px, -15px 0;
	background-color: #fff;
	opacity: 1;
}

.wp-block-popper--left,
.wp-block-popper--right,
.wp-block-popper--top,
.wp-block-popper--bottom {
	pointer-events: auto;
}

.popper-modal-rule {
	min-width: 600px;
	max-width: 600px;
}

.popper-modal-row {

	label {
		display: none;
	}
	margin-bottom: 1em;
	align-items: center !important;

	.components-form-token-field__input-container {
		margin: 0;
	}
}

.popper-pattern-button {
	margin: 1em;
}

.popper-modal-buttons {
	display: flex;
	margin: 1em 0;
	flex-direction: row-reverse;
}

.is-selected .wp-block-popper__container .block-list-appender .block-editor-default-block-appender .block-editor-inserter .block-editor-inserter__toggle {
	display: flex;
}
