
.wp-block-formello-popper--nobg {
	background-image: linear-gradient(45deg, #f1f1f1 25%, transparent 0), linear-gradient(-45deg, #f1f1f1 25%, transparent 0), linear-gradient(45deg, transparent 75%, #f1f1f1 0), linear-gradient(-45deg, transparent 75%, #f1f1f1 0);
	background-size: 30px 30px;
	background-position: 0 0, 0 15px, 15px -15px, -15px 0;
	background-color: #fff;
	opacity: 1;
}

.wp-block-popper__container:empty {
	min-height: 40px;
	min-width: 400px;
}

.wp-block-popper__close {
	position: absolute !important;
}

.wp-block-popper-is-open {
	position: relative;
	min-height: 100vh;
	z-index: 1;

	.wp-block {
		margin: 0;
		max-width: 100% !important;
	}
}

.wp-block-popper__overlay {
	position: absolute;
	pointer-events: auto;
}

.popper-modal-rule {

	@media ( min-width: 1024px ) {
		min-width: 600px;
	}

}

.popper-modal-row {

	label {
		display: none;
	}
	margin-bottom: 1em;
	align-items: center !important;

	.components-form-token-field__input-container {
		margin: 0;
	}
}

.popper-modal-buttons {
	display: flex;
	margin: 1em 0;
	flex-direction: row-reverse;
}
