@import 'animations';


.wp-block-formello-popper, .popper {

  /* Box Shadow Color */
  --box-shadow-color: 0,0,0;

  /* Border Radius */
  --border-radius-sm:2px;
  --border-radius-md:4px;
  --border-radius-lg:8px;
  --border-radius-xl:24px;
  --border-radius-2xl:9999px;

  /* Box Shadow */
  --box-shadow-sm: 0px 0px 5px 0px rgba( var( --box-shadow-color ), 0.6 );
  --box-shadow-md: 0px 0px 10px 0px rgba( var( --box-shadow-color ), 0.6 );
  --box-shadow-lg: 0px 0px 15px 0px rgba( var( --box-shadow-color ), 0.6 );
  --box-shadow-xl: 0px 0px 25px 0px rgba( var( --box-shadow-color ), 0.6 );
  --box-shadow-2xl: 0px 0px 35px 0px rgba( var( --box-shadow-color ), 0.6 );
}


/**************************
  Reset some default rules of core block
**************************/

.wp-block-formello-popper, .popper {
  /*p {
    margin-bottom: 0;
  }*/
  p:empty {
    display: none;
  }
  .wp-block-image, .wp-block-embed {
    margin: 0;
    line-height: 0;
  }
}

/**************************
  Basic Modal Styles
**************************/

.popper {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  display: none;
}

.popper-is-open {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:101;
}

.popper__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index:100;
}

.popper__container {
  background-color: white;
  padding: 0px;
  max-width: 740px;
  min-width: 400px;
  border-radius: 0px;
  box-sizing: border-box;
  position: relative;
  z-index: 1000;
  &.popper__slide {
    bottom: 15px;
    left: 15px;
    position: absolute;

    &.popper__slide-right {
      right: 15px;
      left: auto;
    }
  }
}


.popper__animate-slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.popper__animate-slide-in-bottom {
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.popper__animate-unfoldIn {
  -webkit-animation: unfoldIn 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: unfoldIn 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.popper__content {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 75vh;
  min-height: 50px;
  scrollbar-width: 8px;
}

/* Works on Chrome, Edge, and Safari */
.popper__content::-webkit-scrollbar {
  width: 8px;
}

.popper__content::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 1px solid gray;
}

.popper__close {
  position: absolute;
  top: 8px;
  right: 14px;
  background: transparent;
  border: 0;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
  z-index: 1000;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
  outline: none;
  cursor: pointer !important;
  background-color: transparent !important;
}

.popper__close-top {
  top: -25px;
  right: 0;
}

.popper__close-right {
  right: -20px;
  top: 0;
}

.popper__close:hover, .popper__close:focus {
  background-color: transparent;
  outline: none;
}

.popper__close:before { 
  content: "\2715"; 
  width:100%;
  height: 100%
}

.popper__shadow {
  box-shadow: var( --box-shadow-sm );
}

.popper__shadow-none {
  box-shadow: none;
}

.popper__shadow-md {
  box-shadow: var( --box-shadow-md );
}

.popper__shadow-lg {
  box-shadow: var( --box-shadow-lg );
}

.popper__shadow-xl {
  box-shadow: var( --box-shadow-xl );
}


/**************************
  Mobile custom styles for individual modals
**************************/

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    
  .popper__container {
    width: 90% !important;
    min-width: 90% !important;
  }

  @supports (display: flex) {
  
      .popper__container {
          width: 90% !important;
          min-width: 90% !important;
          max-height: 85vh;
      }
      
  }
  
  .popper__content {
    -webkit-overflow-scrolling: touch;
  }

}
